<meta charset="UTF-8">
<html>
<head>
  <link rel="icon" type="image/svg+xml"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22256%22 height=%22256%22 viewBox=%220 0 100 100%22><text x=%2250%%22 y=%2250%%22 dominant-baseline=%22central%22 text-anchor=%22middle%22 font-size=%2290%22>♟️</text></svg>"/>
  <title>Upload | Chess PGN explorer</title>
</head>
<body>

<h1>Chess PGN explorer</h1>

<p>Upload a PGN file to explore it:</p>

<form action="/" method="post" enctype="multipart/form-data">
  <label for="player-name">Player name:</label><input type="text" id="player-name" name="player-name"/><br/>
  <label for="file">PGN file:</label><input type="file" id="file" name="file"/><br/>
  <br/>
  <button type="submit">Submit</button>
</form>

</body>
</html>
